# UI
UI_BASE_URL=https://www.saucedemo.com
UI_USERNAME=standard_user
UI_PASSWORD=secret_sauce

# API
API_BASE_URL=https://petstore.swagger.io/v2

# Optional
# CROSS_BROWSER=true   # runs chromium+firefox+webkit instead of chromium only
# HEADED=true          # opens visible browser window during test execution
